<!DOCTYPE html>
<body>
  <div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>About Us</h1>
        </div>
        <div class="content">
          <h3>
            While there are some thousands of finance companies, there are only
            a handful who are comprehensive and responsive. Agreeably we are one
            of those who credits the customers without any Interest. FinEase
            gives you the best financial support and never asks you the Interest
            for it.We provide you the flexibility to choose the tenure according
            to your budget every month with no extra cost.
          </h3>
          <div class="button">
            <a href="">Read More</a>
          </div>
        </div>
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fas fa-envelope"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="image-section">
        <img
          src="https://www.teahub.io/photos/full/186-1863403_finance-wallpaper-hd.jpg"
        />
      </div>
    </div>
  </div>
</body>
