<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div id="text" class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Welcome to <br />
            <span style="color: hsl(218, 81%, 75%)">FinEase</span>
          </h1>
          <h4 class="display- fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            One Stop For all Your<br />
            <span style="color: hsl(218, 81%, 75%)">Finance Problem</span>
          </h4>
          <p class="mb-2 opacity-60" style="color: hsl(218, 81%, 85%)">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Temporibus, expedita iusto veniam atque, magni tempora mollitia
            dolorum consequatur nulla, neque debitis eos reprehenderit quasi
            ab ipsum nisi dolorem modi. Quos?
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative" id="outerBox">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()" ng-controller="validateCtrl">
      
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" formControlName="userName"/>
                      <label class="form-label" for="userName">user name</label>
                      <div *ngIf="submitted &&userForm.controls['userName'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userName'].errors['required']">
                            User Name is required
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" formControlName="userPhone"/>
                      <label class="form-label" for="userPhone">Phone Number</label>
                      <div *ngIf="submitted &&userForm.controls['userPhone'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userPhone'].errors['required']">
                            Phone No is required
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" formControlName="userEmail"/>
                  <label class="form-label" for="userEmail">Email address</label>
                  <div *ngIf="submitted &&userForm.controls['userEmail'].errors" class="error">
                    <div class="text-danger"  *ngIf="userForm.controls['userEmail'].errors['required']">
                        Email is required
                    </div>
                </div>
                </div>
  
                <!-- Password input -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="password" id="form3Example1" class="form-control" formControlName="userPass"/>
                      <label class="form-label" for="userPass">Password</label>
                      <div *ngIf="submitted &&userForm.controls['userPass'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userPass'].errors['required']">
                            Password is required
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="password" id="form3Example2" class="form-control" formControlName="userConfirmPass"/>
                      <label class="form-label" for="userConfirmPass">Confirm Password</label>
                      <div *ngIf="submitted &&userForm.controls['userConfirmPass'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userConfirmPass'].errors['required']">
                            Password is required
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
  
                <!-- Address and Salary -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="userAdd" class="form-control" formControlName="userAdd"/>
                      <label class="form-label" for="userAdd">Address</label>
                      <div *ngIf="submitted &&userForm.controls['userAdd'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userAdd'].errors['required']">
                            Address is required
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="userSalary" class="form-control" formControlName="userSalary"/>
                      <label class="form-label" for="userSalary">Annual Salary</label>
                      <div *ngIf="submitted &&userForm.controls['userSalary'].errors" class="error">
                        <div class="text-danger"  *ngIf="userForm.controls['userSalary'].errors['required']">
                            Salary is required
                        </div>
                    </div>
                    </div>
                  </div>                
                </div >
                <div class="margin">
                <label class="center"  for="userCard">Choice of Card</label>
                <select class="box-centre" formControlName="userCard" id="userCard" placeholder="Choice of Card">
                <option>Gold</option>
                <option>Titanium</option>
                </select></div>          
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    I give my consent that all the information are correct
                  </label>
                </div>
  
                <!-- Submit button -->
                <button id="choice" class="text-center" type="submit" class="btn btn-primary  mb-8">
                  Sign up
                </button>
            
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>